<% layout("/layouts/boilerplate") %>
  <body>
    <div>
      <h1>Edit your Listing Here:</h1>
      <br>
      <div class="row">
        <div class="col-8 offset-2">
          <h2><u> <%= listing.owner.username %></u> Listing</h2>

          <br>
          <br>

          <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" novalidate class= "needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="title" class="form-label">Title: </label>
              <input type="text" value="<%= listing.title %>" name="listing[title]" class="form-control" required/>
              <div class="valid-feedback">
                Title Looks good!
              </div>
              <div class="invalid-feedback">
                Please enter Title!!
              </div>
            </div>
            <br />
            <div >
              <label for="description" class="form-label">Description: </label>
              <textarea name="listing[description]" id="description" class="form-control" required><%= listing.description %></textarea>
              <div class="valid-feedback">
                Nice!!
              </div>
              <div class="invalid-feedback">
                Please enter Short Description!!
              </div>
            </div>
            
            <br>

            <div class="row">

              <div>
                Original Listing Image: <br>
                <img src="<%= originalImageUrl %>" alt="listing_img">
              </div>
              <br>
              <div class="mb-3 col-md-4">
                <label for="image" class="form-label">Upload new Image: </label>
                <input type="file" name="listing[image]" class="form-control" />
              </div>

              <div class="col-md-4">
                <label for="category" class="form-label">Category:</label>
                <select name="listing[category]" id="category" class="form-control" required>
                  <option > <%= listing.category %> </option>
                  <option value="trending">Trending</option>
                  <option value="rooms">Rooms</option>
                  <option value="beachfront">Beachfront</option>
                  <option value="amazingpools">Amazing Pools</option>
                  <option value="castles">Castles</option>
                  <option value="boathouse">Boat House</option>
                  <option value="golfing">Golfing</option>
                  <option value="iconiccities">Iconic Cities</option>
                  <option value="palaces">Palaces</option>
                  <option value="waterhouse">Water House</option>
                </select>
                <div class="valid-feedback">
                  Nice!!
                </div>
                <div class="invalid-feedback">
                  Please enter Short Description!!
                </div>
              </div>

            </div>
            <br />
            
            <div class="row">
              <div class="col-md-4">
                <div class="mb-3">
                  <label for="price" class="form-label">Price: </label>
                  <input type="number" value="<%= listing.price %>" class="form-control" name="listing[price]" required/>
                  <div class="valid-feedback">
                    Correct!!
                  </div>
                  <div class="invalid-feedback">
                    Please enter Price!!
                  </div>
                </div>
              </div>
              
              <br />

              <div class="col-md-8">
                <div class="mb-3">
                  <label for="location" class="form-label" >Location: </label>
                  <input type="text" value="<%= listing.location %>" name="listing[location]" class="form-control"/>
                </div>
              </div>
            </div>
            
            
            <br />

            <div class="mb-3">
              <label for="country">Country: </label>
              <input type="text" value="<%= listing.country %>" name="listing[country]" class="form-control" required/>
              <div class="invalid-feedback">
                Country should be valid!!
              </div>
            </div>

            <br />

            <button class="btn btn-dark">Submit!!</button>
          </form>
          
          <br>
          <br>
          <br>
          
        </div>
      </div>
    </div>
  </body>
</html>
